html{
    scroll-behavior: smooth;
    height: 100%;
}
body{
  font-family: Open Sans, sans-serif;
  background-color: #e4f2f0;
  min-height: 100%;

}
.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
}

.philosophy{
  background-image: url("../images/whiteboard.png");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.philosophy p{
  padding: 10px 10px;
  height: 200px;
  text-align: center;
  color: black;
}
h1{
  font-size: 50px;
  line-height: 1;
  padding: 30px 0;
  text-align: center;
}
h2{
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  padding: 20px 10px 25px;
  position: relative;
  padding-top: 175px;
  height: 25px;
  
}
.edu-philosophy-text-block h3{
  padding: 10px;
  text-align: center;
  font-size: 14pt;
  font-weight: 900;
  letter-spacing: .2em;
  background-color: #170a19;
  color: #e4f2f0;

}
.edu-philosophy-text-block p{
  padding: 10px;
  color: black;
  font-size: 12pt;
}
.per-philosophy-text-block p{
  margin-bottom: 50px;
  font-size: 12pt;
  padding: 10px;
  color: black;

}
.per-philosophy-text-block h3{
  padding: 10px;
  text-align: center;
  font-size: 14pt;
  font-weight: 900;
  letter-spacing: .2em;

  background-color: #170a19;
  color: #e4f2f0;
}
nav{
  text-align: center;
  padding: 10px;
  background-color: #99d8d0;
}
nav ul{
  list-style-type: none;
}
nav li{
  padding-right: 5px;
  display: inline;
}
nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin: 5px;
  text-align: center;
}
nav a:hover{
  text-decoration: underline;
}
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}
.skip{
  overflow: hidden;
}
.skip a:focus{
  top: 0px;
}
*:focus{
  border: 2px solid black;
  outline: none;
}
footer{
  background-color: black;
  color: white;
  bottom: 0;
  left:0;
  width:100%;
  text-align: center;
  position: fixed;
}
@media screen and (min-width:800px){
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 75px 550px 1fr ;
    }
  .philosophy{
  grid-column: -1/1;
  max-height: 100%;
  }
  .edu-philosophy-text-block{
  grid-column: 1/ span 2;
  padding: 15px;
  margin-bottom: 40px;
  }
  .per-philosophy-text-block{
  grid-column: 3/ span 2;
  padding: 15px;
  }
  header{
    grid-column: 1/-1;
    height: 0px;
  }
  nav li{
    padding: 20px;
  }
  .nav{
    font-size: 15px;
    text-align: left;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  h1{
    text-align: left;
    font-size: 30px;
    padding: 20px;
  }
  h2{
    font-size: 45px;
    grid-column: -1/1;
}
