html{
    scroll-behavior: smooth;
}
body{
  font-family: Open Sans, sans-serif;
  background-color: #e4f2f0;

}
.about-text-block p{
  padding-top: 10px;
  color: white;
  font-size: 12pt;
  margin-left: 15px;
  margin-right: 15px;
  text-indent: 25px;
}
.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
}
img{
  max-width: 75%;
  height: auto;
  display: flex;
  margin:auto;
  border: 10px solid #70416d;
}
.about-monica{
  background-color: #170a19;
}
.about-text-block{
  background-color: #170a19;
  padding-bottom: 75px;
}
h1{
  animation-name: text-color;
  animation-duration: 4s;
  font-size: 50px;
  line-height: 1;
  padding: 30px 0;
  text-align: center;
  color: #170a19;
}
@keyframes text-color {
  from {color: #e4f2f0;}
  to {color: #170a19;}
}

h2{
  font-size: 35px;
  text-align: center;
  padding: 20px 10px 25px;
  position: relative;
  color: white;
  background-color: #170a19;

}

nav{
  text-align: center;
  padding: 5px 5px;
  background-color: #e4f2f0;
}
nav ul{
  list-style-type: none;
}
nav li:nth-child(2){
  background-color: #99d8d0;;
}
nav li{
  padding: 5px;
  display: inline-block;

}
nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
}
nav a:hover{
  text-decoration: underline;
}
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}
.skip{
  overflow: hidden;
}
.skip a:focus{
  top: 0px;
}
*:focus{
  border: 2px solid black;
  outline: none;
}
footer{
  background-color: black;
  color: white;
  bottom: 0;
  left:0;
  width:100%;
  text-align: center;
  position: fixed;
}
.footer p{
  font-size: 12pt;
  padding: 0px;
}
@media screen and (min-width:800px){
  .container{
    display: flex;
    flex-direction: column;
  }
  .container_top{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
  .container_bottom{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
  header{
    margin-left: 2.3em;
  }
  main{
    height: 0px;
  }
  nav{
    align-self: center;
    margin: 0 0.8em 0 0;
  }
  nav li{
    display: inline-block;
  }
  .nav{
    font-size: 15px;
    text-align: left;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  h1{
    text-align: left;
    font-size: 30px;
    padding: 20px;
  }
  h2{
    font-size: 45px;

  }
  .about-text-block p{
    font-size: 18px;
    margin-left: 15px;
    margin-right: 85px;
    padding-bottom: 40px;
  }
  .footer p{
    font-size: 12pt;
    padding-top: 0px;

  }
  img{
    max-height: 90%;
    width: auto;
    grid-column: 1/3;
    grid-row: 2/-1;
    margin-left: 25px;
    margin-bottom: 75px;
    margin: auto;
  }
  @media screen and (min-width:767px){

    .container_bottom{
      display: flex;
      flex-direction: row;
      justify-content:space-between;
    }
  }
  h2{
    font-size: 45px;

  }
  .about-text-block p{
    font-size: 18px;
    margin-left: 15px;
    margin-right: 85px;
    padding-bottom: 40px;
  }
  .footer p{
    font-size: 12pt;
    padding-top: 0px;

  }
  img{
    max-height: 90%;
    width: auto;

    margin-left: 25px;
    margin-bottom: 75px;
    margin: auto;
  }
  @media screen and (min-width:767px){

  .container_bottom{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
}
h2{
  font-size: 45px;

}
.about-text-block p{
  font-size: 18px;
  margin-left: 15px;
  margin-right: 85px;
  padding-bottom: 40px;
}
.footer p{
  font-size: 12pt;
  padding-top: 0px;

}
img{
  max-height: 100%;
  width: auto;

  margin-left: 20px;
  margin-bottom: 80px;
  margin: auto;
}
}
  @media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }

    .skip a{
      background: white;
      left: 0;
      padding: 6px;
      position: absolute;
      top: -40px;
      -webkit-transition: default;
      transition: default;
      z-index: 1;
    }

    .skip a:focus{
      top:0;
    }
  }
