html{
    scroll-behavior: smooth;
    min-height: 100%;
}
body{
  font-family: Open Sans, sans-serif;
  background-color: #e4f2f0;
  min-height: 100%;

}
.about-text-block p{
  padding-top: 10px;
  color: white;
  font-size: 12pt;
  margin-left: 15px;
  margin-right: 15px;
  text-indent: 25px;
}
.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
  padding-bottom: 20px;
}
img{
  max-width: 80%;
  height: auto;
  display: flex;
  margin:auto;
  padding: 10px
}
.sorority{
  background-color: #70416d;
}
.sorority-text-block{
  background-color: #170a19;
  padding-bottom: 50px;
  padding-top: 50px;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}
h1{
  font-size: 50px;
  line-height: 1;
  padding: 30px 0;
  text-align: center;
}
h2{
  font-size: 35px;
  text-align: center;
  padding: 20px 10px 25px;
  position: relative;
  color: white;
  background-color: #170a19;
}
h3{
  padding: 10px;
  text-align: center;
  font-size: 14pt;
  font-weight: 900;
  letter-spacing: .2em;
  background-color: #170a19;
  color: #e4f2f0;
  margin-top: 5px;
}
.scholarship-text-block, .philanthropy-text-block p{
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
nav{
  text-align: center;
  padding: 5px 5px;
  background-color: #e4f2f0;
}
nav ul{
  list-style-type: none;
}
nav li:nth-child(5){
  background-color: #99d8d0;;
}
nav li{
  padding: 5px;
  display: inline-block;

}
nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
}
nav a:hover{
  text-decoration: underline;
}
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}
.skip{
  overflow: hidden;
}
.skip a:focus{
  top: 0px;
}
*:focus{
  border: 2px solid black;
  outline: none;
}
footer{
  background-color: black;
  color: white;
  bottom: 0;
  left:0;
  width:100%;
  text-align: center;
  position: fixed;
}
.footer p{
  font-size: 12pt;
  padding: 0px;
}
@media screen and (min-width:800px){
  .container{
    display: grid;
    grid-template-columns: 500px 1fr 1fr 1fr;
    grid-template-rows: 75px 100px;
    }
  .about-monica{
    grid-column: 1;
    padding: 10px;
  }
  .about-text-block{
    grid-column: 2/-1;
    padding-top: 15px;
    padding-bottom: 105px;
  }
  header{
    grid-column: 1/-1;
    height: 0px;
  }

  nav li{
    padding: 20px;
  }
  .nav{
    font-size: 15px;
    text-align: left;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  h1{
    text-align: left;
    font-size: 30px;
    padding: 20px;
  }
  h2{
    font-size: 45px;
    grid-column: -1/1;
  }
  .about-text-block p{
    font-size: 18px;
    margin-left: 15px;
    margin-right: 85px;
  }
  .footer p{
    font-size: 12pt;
    padding-top: 0px;

  }
  img{
    max-height: 90%;
    width: auto;
    grid-column: 1/3;
    grid-row: 2/-1;
    margin-left: 25px;
    margin-bottom: 75px;
    margin: auto;
  }
