html{
    scroll-behavior: smooth;
    max-width: 100%;
}
body{
  font-family: Open Sans, sans-serif;
  background-color: #e4f2f0;
  max-width: 100%;

}
.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr ;
}

.philosophy{
  background-image: url("../images/whiteboard.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: auto;

}
.philosophy p{
  padding: 10px 10px;
  height: 200px;
  text-align: center;
  color: black;

}
h1{
  animation-name: text-color;
  animation-duration: 4s;
  font-size: 50px;
  line-height: 1;
  padding: 30px 0;
  text-align: center;
  color: #70416d;
}
@keyframes text-color {
  from {color: #e4f2f0;}
  to {color: #70416d;}
}

h2{
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  padding: 20px 10px 25px;
  position: relative;
  padding-top: 175px;
  height: 25px;

}
.edu-philosophy-text-block h3{
  padding: 10px;
  text-align: center;
  font-size: 14pt;
  font-weight: 900;
  letter-spacing: .2em;
  background-color: #170a19;
  color: #e4f2f0;

}
.edu-philosophy-text-block p{
  padding: 10px;
  color: black;
  font-size: 12pt;
}
.per-philosophy-text-block p{
  margin-bottom: 50px;
  font-size: 12pt;
  padding: 10px;
  color: black;

}
.per-philosophy-text-block h3{
  padding: 10px;
  text-align: center;
  font-size: 14pt;
  font-weight: 900;
  letter-spacing: .2em;

  background-color: #170a19;
  color: #e4f2f0;
}
nav{
  text-align: center;
  padding: 5px 5px;
  background-color: #e4f2f0;
}
nav ul{
  list-style-type: none;
}
nav li:nth-child(3){
  background-color: #99d8d0;;

}
nav li{
  padding: 5px;
  display: inline-block;


}
nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
}
nav a:hover{
  text-decoration: underline;
}
.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}
.skip{
  overflow: hidden;
}
.skip a:focus{
  top: 0px;
}
*:focus{
  border: 2px solid black;
  outline: none;
}
footer{
  background-color: black;
  color: white;
  bottom: 0;
  left:0;
  width:100%;
  text-align: center;
  position: fixed;
}
@media screen and (min-width:800px){
  .container{
    display: flex;
    flex-direction: column;
  }
  .container_top{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }
  .container_bottom{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }

  header{
    margin-left: 2.3em;
  }
  main{
    height: 0px;
  }
  nav{
    align-self: center;
    margin: 0 0.8em 0 0;
  }
  nav li{
    display: inline-block;
  }
  .nav{
    font-size: 15px;
    text-align: left;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  h1{
    text-align: left;
    font-size: 30px;
    padding: 20px;
  }
  h2{
    font-size: 45px;
}
.edu-philosophy-text-block, .per-philosophy-text-block{
  width:100%;
  padding-bottom: 40px;
}
@media screen and (min-width:767px){

  .container_bottom{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
  }

  main{
    height: 0px;
  }
  h2{
    font-size: 45px;
}
}
@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: default;
    transition: default;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}
